.navbar {
    background: white;
    padding: 1em;
}

.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    margin-left: 3vw;
}

.navbar .logo span {
    color: var(--primary-color);
}

.navbar nav {
    display: none;
}

.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar .mobile-menu {
    cursor: pointer;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 9;
    width: 50%;
    left: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
    border-radius: 0 3em 0 0;
}

nav ul.primary-nav {
    margin-top: 5em;
}

nav li a {
    color: white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    padding: .3em;
    margin: 1em 0;
    font-size: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

nav li a::after {
    content: attr(data-text);
    content: attr(data-text)/"";
    height: 0;
    visibility: visible;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
}

@media speech {
    nav li a::after {
        display: none;
    }
}

nav img {
    background: white;
    border-radius: 5em;
    width: 5vh;
    height: 5vh;
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

.mobile-menu-exit path {
    fill: white;
}

@media only screen and (min-width: 768px) {

    .mobile-menu,
    .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
    }

    .navbar nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .navbar nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .navbar nav a {
        color: black;
        font-size: 1em;
        padding: .1em 1em;
    }

    .navbar nav ul.primary-nav {
        margin: 0;
    }

    .navbar nav li.current a {
        font-weight: bold;
    }
}